body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: 55px 100px;

}
.event-registration-page{
    background-color: red;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.title-form
{
    justify-items: center;
}
.about-event
{
    display: flex;
    flex-direction: column;
}
.form-container
{
    display: flex;
    flex-direction: column;
}
.first-row-form, .second-row-form
{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
}
.gender-container
{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.phone-email-container
{
    display: flex;
    flex-direction: row;
}